*~
CMakeCache.txt
CMakeFiles/
Makefile
augedit
cmake_install.cmake
cmake_uninstall.cmake
gsettings/
install_manifest.txt
po/CMakeCache.txt
po/CMakeFiles/
po/CMakeLists.txt
po/Makefile
po/cmake_install.cmake
po/*.gmo
src/CMakeFiles/
src/Makefile
src/augedit
src/cmake_install.cmake

