*~
po/*.gmo
src/augedit
*.c
*.h
*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
ABOUT-NLS
augedit-config.h.in
compile
config.guess
config.rpath
config.sub
depcomp
gsettings/
install-sh
ltmain.sh
missing

